# sbt specific
dist/*
target/
boot/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.classpath
.scala_dependencies
.project
.settings

# st2
*.sublime-project
*.sublime-workspace

# data folders
data/in/
data/out/

# credentials
credentials.sbt
*credentials*

